# Fish
fish_history
fish/completions/fisher.fish
fish/functions/fish_prompt.fish
fishd.*

# Atom
atom/.apm
atom/.npm
atom/electron
atom/.node-gyp
atom/blob-store
atom/compile-cache
atom/packages
atom/storage
atom/nohup.out
