# Fish
fish_history
fish/completions/fisher.fish
fish/functions/fish_prompt.fish
fishd.*

# Atom
atom/.apm
atom/.npm
atom/electron
atom/.node-gyp
atom/blob-store
atom/compile-cache
atom/packages
atom/storage
atom/nohup.out

# Xmonad
xmonad/*.o
xmonad/*.hi
xmonad/*.errors
xmonad/prompt-history
xmonad/xmonad-x86_64-linux
