"*":
  "Remote-FTP": {}
  _dartlang:
    _errorsInitialized: true
    _firstRun: true
    _version: "0.6.32"
  "atom-beautify":
    general:
      _analyticsUserId: "92f1106b-459b-443d-9781-87dc090d13cc"
    php: {}
  "atom-mocha":
    compiler: "ES5 (nothing)"
  "atom-toolbar":
    visible: false
  "autocomplete-php": {}
  "autocomplete-plus":
    autoActivationDelay: 500
  core:
    disabledPackages: [
      "synced-sidebar"
    ]
    followSymlinks: false
    packagesWithKeymapsDisabled: []
  dartlang:
    sdkLocation: "/opt/dart-sdk"
    sendUsage: false
    showOutlineView: false
  docblockr:
    align_tags: "shallow"
  editor:
    fontFamily: "Hack"
    invisibles: {}
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "4eb442b6-83db-9c74-161e-dfef98c74d1d"
  linter:
    errorPanelHeight: 52
  "linter-js-standard":
    style: "semi-standard"
  "linter-php":
    executablePath: "/usr/bin/php"
  "linter-phpcs":
    tabWidth: 4
  "linter-phpmd": {}
  "merge-conflicts": {}
  minimap:
    autoToggle: false
  "python-nosetests":
    colorfullBadges: true
  "remote-sync": {}
  "status-bar": {}
  "terminal-plus":
    core: {}
    style:
      fontFamily: "hack"
  "tree-view": {}
  "vim-mode": {}
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-surround": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1473778898
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
