"*":
  "Remote-FTP": {}
  _dartlang:
    _errorsInitialized: true
    _firstRun: true
    _version: "0.6.21"
  "atom-mocha":
    compiler: "ES5 (nothing)"
  "atom-toolbar":
    visible: false
  "autocomplete-php": {}
  "autocomplete-plus":
    autoActivationDelay: 500
  core:
    followSymlinks: false
    packagesWithKeymapsDisabled: []
  dartlang:
    sdkLocation: "/opt/dart-sdk"
    sendUsage: false
  docblockr:
    align_tags: "shallow"
  editor:
    fontFamily: "Hack"
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "4eb442b6-83db-9c74-161e-dfef98c74d1d"
  linter:
    errorPanelHeight: 46
  "linter-js-standard":
    style: "semi-standard"
  "linter-php":
    executablePath: "/usr/bin/php"
  "linter-phpcs":
    tabWidth: 2
  "merge-conflicts": {}
  minimap:
    autoToggle: false
  "python-nosetests":
    colorfullBadges: true
  "remote-sync": {}
  "status-bar": {}
  "terminal-plus":
    core: {}
    style:
      fontFamily: "hack"
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-surround": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
